@tailwind base;
@tailwind components;
@tailwind utilities;

.imageSrc {
    display: none;
}

.debug {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
    padding: 8px;
}