@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
    margin: 0;
    padding: 0;
}

{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

html,
body
{
    //overflow: hidden;
}

.imageSrc {
    display: none;
}

.debug {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
    background: grey;
    padding: 8px;
}